name:  Build and Deploy

on:
  push:
    branches:
      - development
      - qualityassurance
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name:  Checkout code
      uses: actions/checkout@v4

    - name:  Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name:  Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name:  Build and Push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/node-env-app:${{ github.ref_name }}

    - name:  Deploy to Droplet
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.DO_HOST }}
        username: ${{ secrets.DO_USER }}
        key: ${{ secrets.DO_SSH_KEY }}
        script: |
          cd ~/apps/${{ github.ref_name }}
          docker-compose pull
          docker-compose up -d
